.select2-results
{
  &__public, &__public--inherited, &__category_owner
  {
    font-weight: bold;
    color: #3497DA  !important;
  }

  &__registered, &__registered--inherited, &__document_owner
  {
    font-weight: bold;
    color: #27AE60 !important;
  }

  &__owner, &__owner--inherited
  {
    font-weight: bold;
    color: #D26E2C !important;
  }

	&__admins, &__admins--inherited
  {
    font-weight: bold;
    color: #f13a3a !important;
  }

  &--hidden
  {
    display: none !important;
  }
}



.k-permissions-modal .mfp-content
{
  width: 80% !important;
  max-width: 1080px !important;
}
