
/**
 * Accent color
 * ============
 * The blue that WP uses for it's UI
 */
$k-accent-color: #0073AA;

$k-icon-path: '../../../../../library/resources/assets/fonts' !default;

$k-tree-element-start-spacing:      4px;